name: Tests

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
        perl-version: ['5.14', '5.18', '5.24', '5.30', '5.36']
        exclude:
          - os: macos-latest
            perl-version: '5.14'
      fail-fast: false

    steps:
    - uses: actions/checkout@v3

    - name: Set up Perl
      uses: shogo82148/actions-setup-perl@v1
      with:
        perl-version: ${{ matrix.perl-version }}

    - name: Cache CPAN modules
      uses: actions/cache@v3
      with:
        path: ~/.cpanm
        key: ${{ runner.os }}-cpanm-${{ matrix.perl-version }}-${{ hashFiles('Makefile.PL') }}
        restore-keys: |
          ${{ runner.os }}-cpanm-${{ matrix.perl-version }}-

    - name: Install build dependencies
      run: |
        cpanm --notest --quiet ExtUtils::MakeMaker

    - name: Install dependencies
      run: |
        cpanm --notest --quiet --installdeps .
      continue-on-error: false

    - name: Run tests
      run: |
        perl Makefile.PL
        make test
      continue-on-error: false

    - name: Syntax check
      run: |
        perl -c offliner.pl

    - name: Test help
      run: |
        perl offliner.pl --help


